<div class="page-header">
  <h1>Price Check <small>on space aisle four</small></h1>
</div>

<%= form_tag({action: :results}, multipart: true) do %>
	<div class="form-group">
    <label for="input_file">File input</label>
    <%= file_field_tag :input_file,  :accept => 'text/xml' %>
    <p class="help-block">Select an exported EFT file</p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
