<div class="page-header">
  <h1>Price Check <small>on space aisle four</small></h1>
</div>

<%= form_tag({action: :results}, multipart: true) do %>
<div class="col-xs-12 col-md-6">
  <div class="panel panel-primary">
	  <div class="panel-heading">Ship Fitting</div>
	  <div class="panel-body">
	    
	    <div class="row">
		    <div class="col-xs-12">
		      <div class="form-group">
            <%= file_field_tag :input_file,  :accept => 'text/xml' %>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
	    </div>
	    
	  </div>
	</div> <!-- end panel-primary -->
</div>

<div class="col-xs-12 col-md-6">
  <%= render 'layouts/market_details', :item => Blueprint.new(:region_id=>10000002, :market_in=>"region") %>
</div>
<% end %>
