<div class="page-header">
  <h1>Price Check <small>the results are in!</small></h1>
</div>

<p>This section is still being developed and will be released shortly.</p>

<p>You submitted: <%= @results %></p>
