<div id="main-index">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron">
				<div class="container">
					<h1>No More Spreadsheets!</h1>
					<p>
						View production costs, profit margins, and market history at a glance!
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Browse Blueprints:
				</div>
				
			</div>
		</div>
		
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Ship Fittings (COMING SOON!)
				</div>
				<div class="panel-body">
					<div class="form">
						<div class="form-group">
							<label for="eft-file-input">Import EFT File</label>
							<input type="file" id="eft-file-input" disabled>
							<p class="help-block">Select a prebuilt EFT fitting for a price check</p>
						</div>
						<button type="submit" class="btn btn-default" disabled>Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end row -->
</div>
