<h3>Green profit margins for everyone!</h3>

<b>Browse blueprints by group:</b>
<div class="row">
	<div class="span8">
		<% @blueprint_groups.each do |group| %>
			<div class="blueprint-group">
				<%= group["name"] %>
				<div class="<%= group['id'] %>-blueprints"></div>
			</div>
		<% end %>
	</div>
</div>
