<div id="main-index">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<h1>Green profit margins for everyone!</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="panel-group" id="blueprint-groups">
				<% @blueprint_groups.each do |group| %>
					<div id="<%= group['id'] %>" class="panel panel-primary">
						<div class="panel-heading">
							<table>
								<tr>
									<td><span class="glyphicon glyphicon-expand"></span></td>
									<td>
										<h4 class="panel-title">
											<a class="blueprint-toggle" data-toggle="collapse" data-parent="#blueprint-groups" href="#<%= group['id'] %>-collapse"><%= group["name"] %></a>
										</h4>
									</td>
								</tr>
							</table>
						</div>
						<div id="<%= group['id'] %>-collapse" class="panel-collapse collapse">
							<div class="panel-body"></div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
