<div id="main-index">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron">
				<div class="container">
					<h1>No More Spreadsheets!</h1>
					<p>
						View production costs, profit margins, and market history at a glance!
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Browse Blueprints:
				</div>
				<div class="panel-body">
					<div class="panel panel-info">
						<div class="panel-heading">
							<table>
								<tr>
									<td class="info-icon"><span class="glyphicon glyphicon-info-sign"></span></td>
									<td class="info-text">Click on a group to expand and view related blueprints</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="panel-group" id="blueprint-groups">
						<% @blueprint_groups.each do |group| %>
							<div id="<%= group['id'] %>" class="panel panel-default">
								<div class="panel-heading">
									<a class="blueprint-toggle" data-toggle="collapse" data-parent="#blueprint-groups" href="#<%= group['id'] %>-collapse">
										<div class="row">
											<div class="col-xs-12">
												<table>
													<tr>
														<td><span class="glyphicon glyphicon-expand"></span></td>
														<td>
															<h4 class="panel-title">
																<%= group["name"] %>
															</h4>
														</td>
													</tr>
												</table>
											</div>
										</div>
								
									</a>
								</div>
								<div id="<%= group['id'] %>-collapse" class="panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Ship Fittings (COMING SOON!)
				</div>
				<div class="panel-body">
					<div class="form">
						<div class="form-group">
							<label for="eft-file-input">Import EFT File</label>
							<input type="file" id="eft-file-input" disabled>
							<p class="help-block">Select a prebuilt EFT fitting for a price check</p>
						</div>
						<button type="submit" class="btn btn-default" disabled>Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end row -->
</div>
