.blueprint-nav {
	margin: {
		top: 16px;
	}
}

#home {
	padding: {
		top: 16px;
	}
}

#materials {
	padding: {
		top: 16px;
	}
}

#history {
	padding: {
		top: 16px;
	}
}

#skills {
	padding: {
		top: 16px;
	}
}
