.blueprint-nav {
	margin: {
		top: 16px;
	}
}

#home, #materials, #history, #skills, #invention {
	padding: {
		top: 24px;
	}
}

.raw-material-quantity, .raw-material-unit-price, .raw-material-total-price,
.extra-material-quantity, .extra-material-unit-price, .extra-material-total-price {
	text: {
		align: right;
	}
}
