.blueprint-nav {
	margin: {
		top: 16px;
	}
}

.skill-name, .skill-level {
	padding: {
		left: 8px;
	}
}

#home, #materials, #history, #skills, #invention {
	padding: {
		top: 24px;
	}
}

.raw-material-quantity, .raw-material-unit-price, .raw-material-total-price,
.extra-material-quantity, .extra-material-unit-price, .extra-material-total-price {
	text: {
		align: right;
	}
}

.material-toggle {
	color: black;
}

.build-component {
	background: #62c462 !important;
}
