.blueprint {
	margin: {
		bottom: 5px;
	}
}

.blueprint-toggle {
	color: white;
}

.panel-title {
	margin:	{
		left: 5px;
	}
}

.blueprint-name {
	padding:	{
		left: 5px;
	}
}

.info-text {
	padding: {
		left: 8px;
	}
}
