<nav class="navbar navbar-default navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		<%= link_to "Brave Industry", root_path, :class => 'navbar-brand' %>
	</div>
	
	<!-- Nav links to be toggled -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><%= link_to 'Search Blueprints', blueprints_path %></li>
		</ul>
	</div>
</nav>
