<div class="navbar-header">
	<%= link_to "Brave Industry", root_path, :class => 'navbar-brand' %>
</div>
<ul class="nav navbar-nav">
  <li><%= link_to 'Search Blueprints', blueprints_path %></li>
</ul>
